.header {
    margin: 20px;
    font-size: 25px;
    color: gray;
}

.TranslateBlock{
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: whitesmoke;
}

.InputRight {
    border: 0.1vh solid #9b9b9b;
    border-left: 0vh;
    border-bottom: 0.3vh solid #9b9b9b;
    border-radius: 0vh 0vh 1vh 0vh;
    background-color: rgb(236, 235, 235);
    width: 550px;
    height: 250px;
    font-size: 25px;
    padding: 20px;
    resize: none;
}

.InputLeft {
    border: 0.1vh solid #9b9b9b;
    border-bottom: 0.3vh solid #9b9b9b;
    border-radius: 0vh 0vh 0vh 1vh;
    width: 550px;
    height: 250px;
    font-size: 25px;
    padding: 20px;
    resize: none;
}

textarea {
    border: none;
    outline: none;
}

button {
    outline: none;
    
}

.LangSelectionLeft {
    display: flex;
    border: 0.1vh solid #9b9b9b;
    border-bottom: 0px;
    border-left: 1px solid #9b9b9b;
    background-color: white;
    border-radius: 1vh 0vh 0vh 0vh;
    height: 9vh;
}

.LangSelectionRight {
    display: flex;
    border: 0.1vh solid #9b9b9b;
    border-bottom: 0px;
    border-left: 0px;
    background-color: white;
    border-radius: 0vh 1vh 0vh 0vh;
    height: 9vh;
}

.Name {
    border: 0vh;
    background-color: white;
    color: blue;
    margin: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    cursor: pointer;
    animation: anim 2s;
}

.Name:active {
    border-bottom: 1vh solid blue;
}

.Box {
    display: flex;
    padding: 50px;
}