.ChatSpace {
    display: flex;
    flex-grow: 1;
    padding-right: 1vh;
    flex-direction: column-reverse;
    align-items: flex-end;
    overflow-y: auto;
}

.Chat {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: calc(100% - 0.2vh);
}

.Form {
    display: flex;
    align-items: center;
    background-color: white;
    width: calc(100% - 0.2vh);
}

.result {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: auto;
    min-width: 20vh;
    max-width: 70vh;
    height: auto;
    min-height: 10vh;
    background-color: #f3e6f5;
    border: 1px solid #666;
    margin: 1vh 5vh 1vh 1vh;
    border-radius: 3px;
    opacity: 0;
    transition: 0.5s;
    animation: show 0.5s 1;
    animation-fill-mode: forwards;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

@keyframes show{

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.result:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -30px;
    bottom: -1px;
    border: 15px solid;
    border-color: transparent transparent #000 #000;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.result:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -28px;
    bottom: 0px;
    border: 15px solid;
    border-color: transparent transparent #f3e6f5 #f3e6f5;
}

.message {
    display: flex;
    align-self: flex-start;
    font-size: 3vh;
    flex-grow: 1;
    padding: 1.5vh 1vh;
    color: black;
    line-height: 1;
    word-break: break-all;
}

.image {
    position: static;
    max-width: 80%;
    max-height: 80vh;
    margin: 3vh 0vh 3vh 3vh;
}

.time {
    display: flex;
    align-self: flex-end;
    font-size: 2.5vh;
    color: gray;
    padding: 1vh;
}

.Audio {
    position: static;
    width: 80%;
    min-width: 40vh;
}